<% provide(:title, "Reed-Muller Code (r=#{@reed_muller.r}, m=#{@reed_muller.m})") %>

<%= render partial: 'shared/error_messages', 
  locals: { errors: @received_vector.errors } %>

<table class="table" id="results_table">
  <tr>
    <td><b>Raw</b></td>
    <td><%= @reed_muller.binary_vector %></td>
  </tr>
  <tr>
    <td><b>Encoded</b></td>
    <td><%= @reed_muller.encoded_vector %></td>
  </tr>
  <tr>
    <td><b>Received</b></td>
    <td>
      <%= form_for(@received_vector, html: { class: 'form-inline no-bottom-margin' }, url: reed_muller_path(@reed_muller), method: :get) do |f| %>
        <%= f.text_field :elements %>
        <%= f.submit 'Change', class: 'btn btn-primary' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><b>Error Indexes</b></td>
    <td><%= @error_indexes %></td>
  </tr>
  <tr>
    <td><b>Decoded</b></td>
    <td><%= @decoded_vector %></td>
  </tr>
</table>

<h2>Generator Matrix</h2>

<table class="table">
<% @reed_muller.generator_matrix.each do |row| %>
  <tr>
    <% row.each do |cell| %>
      <td><%= cell %></td>
    <% end %>
  </tr>
<% end %>
</table>